.button {
    background-color: #929292;
    border: none;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}